<div id="<%= dom_id character %>">

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"> Nombre: <%= character.name %></h5>
      Direccion:
      </p>
      <%= character.location %>
      <p>
        Casa:
      </p>
      <%= character.house %>
    </div>
  </div>

</div>
